<div class="modal-header" *ngIf="inputObj">
  <h4 class="modal-title" id="modal-basic-title">{{inputObj.heading}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div *ngIf="inputObj.isSingleTxt">
         <div>{{inputObj.singleTxt}}</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')" *ngIf="inputObj.cancelBtn">{{inputObj.cancelBtn}}</button>
  <button type="button" class="btn btn-secondary" (click)="notify()">{{inputObj.SubmitBtn}}</button>
</div>
