.landingCircle {
    margin: auto !important;
    display: table-cell;
    height: 250px;
 /*change this and the width for the size of your initial circle*/
    width: 250px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  /*make it pretty*/
    background: #b9b4b4;
    color: #fff;
    font: 18px "josefin sans", arial;
}
.circleButton {
    padding-left: 10%;
    margin-top: 10px;
}
.circleBtn {
    margin-top: 15px;
}
.btn-landing-custom {
    color: #3a454ed9;
    border-color: #faebd7;
    background-color: transparent;
}
.content-div {
    margin-top: 70px;
}
@media (min-width: 1200px) {
.container {
    max-width: 80%;
}
}